/* -----------------------------------------------------------------------------------------------
 * This file is loaded by Custom CSS and JS loader extension.
 * Update the path in vscode_custom_css.imports in settings.json. That path is where you save this file.
 * -----------------------------------------------------------------------------------------------*/

.editor .title {
  background: transparent !important;
}

.editor .title .label-container {
  visibility: hidden !important;
}

.editor .title .actions-container .action-item a {
  visibility: hidden !important;
}

.editor .title .actions-container .action-item a[title=\"Open Settings (UI)\"] {
  visibility: initial;
}

.editor
  .title
  .actions-container
  .action-item
  a[title=\"Open Settings (JSON)\"] {
  visibility: initial;
}

.editor .title .actions-container {
  flex-direction: row-reverse;
}

.editor .scrollbar .slider {
  visibility: hidden;
}

.editor .scrollbar:hover .slider {
  visibility: initial;
}

.monaco-editor .cursor {
  background: linear-gradient(to bottom, #7f00ff, #e100ff) !important;
  color: #292d3e !important;
  transition: all 220ms cubic-bezier(0.22, 1, 0.36, 1) !important;
}

div.title.show-file-icons.title-border-bottom {
  display: none !important;
}

.titlebar > div.titlebar-container > a {
  opacity: 0 !important;
}

.titlebar > div.titlebar-container > div.window-title {
  opacity: 0 !important;
}

.titlebar
  > div.titlebar-container
  > div.layout-controls-container.show-layout-control {
  display: none !important;
}

.titlebar {
  border-bottom: none !important;
}

.linux {
  font-family: "SF Mono, Fira Code Mono, system-ui,Ubuntu,Droid Sans",
    sans-serif !important;
}

.monaco-editor .scroll-decoration {
  box-shadow: none !important;
}

div.monaco-scrollable-element
  > div.split-view-container
  > div
  > div
  > div.title.show-file-icons.title-border-bottom {
  display: none !important;
}

/* ************************************ 05/05/23 ******************************************* */
.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-left,
.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-center {
  opacity: 0 !important;
}

.monaco-workbench .part.titlebar > .titlebar-container > .titlebar-right {
  display: none !important;
}

.monaco-workbench
  .part.editor
  > .content
  .editor-group-container
  > .title:not(.tabs) {
  display: none !important;
}

.monaco-pane-view .split-view-view:first-of-type > .pane > .pane-header {
  border-radius: 10px !important;
}

.monaco-list-row:hover:not(.selected):not(.focused) {
  border-radius: 10px !important;
}

.monaco-list-row.focused.selected {
  border-radius: 10px !important;
}

/* Remove Shortcuts that are display when no files are open */
.monaco-workbench
  .editor-group-container
  > .editor-group-watermark
  > .shortcuts {
  display: none !important;
}

.cursor {
  transition: all 0.17s !important;
}

/* Pacman Image */
.monaco-workbench.vs-dark
  .part.editor
  > .content
  .editor-group-container
  .editor-group-watermark
  > .letterpress {
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%22455%22%20height%3D%22456%22%20viewBox%3D%220%200%20455%20456%22%20fill%3D%22none%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20opacity%3D%220.3%22%3E%3Cpath%20d%3D%22M5%20451.493V199.874V196.141H35.6124V101.317H69.2114V70.7047H99.0772V38.599H162.542V5H290.218V38.599H355.923V70.7047H388.029V101.317H418.641V196.141H450V451.493H418.641V419.388H388.029V388.029H355.923V419.388H323.817V451.493H260.352V388.029H194.648V451.493H131.93V419.388H99.0772V388.029H69.2114V419.388H35.6124V451.493H5Z%22%20stroke%3D%22black%22%20stroke-width%3D%229%22%2F%3E%3Cpath%20d%3D%22M99.0771%20165.529H35.6123V228.247H99.0771V165.529Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%20stroke-width%3D%229%22%2F%3E%3Cpath%20d%3D%22M67.718%20131.93H35.6123V226.753H67.718V258.859H131.183V226.753H163.288V131.93H131.183V101.317H67.718V131.93Z%22%20stroke%3D%22black%22%20stroke-width%3D%229%22%2F%3E%3Cpath%20d%3D%22M259.606%20133.423H227.5V226.753H259.606V260.352H322.324V226.753H352.19V133.423H322.324V100.57H259.606V133.423Z%22%20stroke%3D%22black%22%20stroke-width%3D%229%22%2F%3E%3Cpath%20d%3D%22M289.472%20164.782H227.5V227.5H289.472V164.782Z%22%20fill%3D%22black%22%20stroke%3D%22black%22%20stroke-width%3D%229%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") !important;
}

.monaco-workbench.vs-dark
  .part.editor
  > .content
  .editor-group-container
  .editor-group-watermark
  > .letterpress {
  height: 300px !important;
  width: 600px !important;
}
